<!-- <div id="mdlFrm" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Formulario de usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form #frmUser="ngForm" (ngSubmit)="sendData(frmUser)" class="login100-form validate-form flex-sb flex-w">
                <div class="modal-body">
                    <span *ngIf="frmUser.submitted && frmUser.controls['name'].errors" class="text-danger animated fadeIn">El nombre es obligatorio</span>
                    <div class="wrap-input100 m-b-16">
                        <input class="form-control" type="name" required email [(ngModel)]="usuario.name" name="name" placeholder="nombre">

                        <span class="focus-input100"></span>
                    </div>

                    <span class="text-danger" *ngIf="frmUser.submitted && frmUser.controls['job'].errors">El job es requerido</span>
                    <div class="wrap-input100 m-b-16" data-validate="job es requerido">
                        <input class="form-control" type="name" required minlength="6" [(ngModel)]="usuario.job" name="pass" placeholder="job">
                        <span class="focus-input100"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mdlFrm">
    Nuevo usuario
  </button> -->