<br>
<div class="panel panel-default">
    <div class="panel-heading">
        <h1>Usuarios</h1>
        <hr>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mdlFrm">
            Nuevo usuario
          </button>
        <br> <br>

        <input [(ngModel)]="searchText" name="searh" class="form-control mr-sm-2" type="search" placeholder="buscar usuario" aria-label="Search">

        <br>
    </div>
    <div class="panel-body">
        <table class="table table-bordered table-hover">
            <thead class="bg-success thead-light">
                <th style="width: 85%">Nombre</th>
                <th style="width: 15%">Acciones</th>
            </thead>
            <tr *ngFor="let item of users | filter: {first_name: searchText} | paginate:{itemsPerPage:10,currentPage:page}">
                <td>{{item.first_name}} </td>
                <td>
                    <a title="Editar" data-toggle="modal" data-target="#mdlFrm" style="cursor: pointer;" (click)="edit(item.id)"><i class="fa fa-pencil m-2"></i> </a>

                    <a title="Eliminar" style="cursor: pointer;" (click)="delete(item.id,item.first_name)"><i class="fa fa-trash m-2"></i>  </a>

                    <a title="ver detalle" style="cursor: pointer;" (click)="verDetalle(item.id)"><i class="fa fa-search m-2"></i>  </a>
                </td>
            </tr>
        </table>
    </div>

    <pagination-controls (pageChange)="page = $event"></pagination-controls>

</div>

<div id="mdlFrm" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Formulario de usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form #frmUser="ngForm" (ngSubmit)="sendData(frmUser)" class="login100-form validate-form flex-sb flex-w">
                <div class="modal-body">
                    <input class="form-control" type="name" [(ngModel)]="usuario.id" name="id" style="display: none;">
                    <div class="form-group">
                        <label for="exampleInputPassword1">Usuario:</label>
                        <input class="form-control" type="name" required [(ngModel)]="usuario.name" name="name" placeholder="nombre">
                        <span *ngIf="frmUser.submitted && frmUser.controls['name'].errors" class="text-danger animated fadeIn">El nombre es obligatorio</span>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Trabajo:</label>
                        <input class="form-control" type="name" required [(ngModel)]="usuario.job" name="job" placeholder="job">
                        <span class="text-danger" *ngIf="frmUser.submitted && frmUser.controls['job'].errors">El job es requerido</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="btnClose" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>