<div class="panel panel-default">
    <div class="panel-heading">Pokemones activos</div>
    <div class="panel-body">
        <table class="table table-bordered table-hover">
            <thead class="bg-success">
                <th class="col-md-11">Nombre</th>
                <th class="col-md-1">detalle</th>
            </thead>
            <tr *ngFor="let item of pokemones | paginate:{itemsPerPage:10,currentPage:page}">
                <td class="">{{item.name}} </td>
                <td>
                    <a title="ver detalle" style="cursor: pointer;" (click)="verDetalle(item.name)"><i class="fa fa-search"></i></a>
                </td>
            </tr>
        </table>
    </div>

    <pagination-controls (pageChange)="page = $event"></pagination-controls>

</div>