<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img [src]="user.avatar" class="card-img-top" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{user.first_name}} {{user.last_name}}</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit minima tenetur officia, sed inventore voluptatum odio, quidem odit hic quis tempore consequuntur ea accusamus impedit, deleniti optio. Porro, accusamus rerum.</p>
                <p class="card-text">{{user.email}}</p>
            </div>
        </div>
    </div>
</div>

<a routerLink="/user" class="btn btn-primary">Regresar</a>